# The following are the main dependencies used for the project. 

fastapi==0.111.0
pydantic==2.8.2
uvicorn==0.30.1
face-recognition==1.3.0
face_recognition_models==0.3.0
dlib==19.24.99
uvloop==0.19.0
httptools==0.6.1
python-multipart==0.0.9
Jinja2==3.1.4
orjson==3.10.6
typing_extensions==4.12.2

# I've commented out the other ones below as I wouldn't want anyone to have to install them unless necessary.
# But feel free to install them if you wish or if there's something missing that is actually required.

# absl-py==2.1.0
# annotated-types==0.7.0
# anyio==4.4.0
# astunparse==1.6.3
# certifi==2024.7.4
# charset-normalizer==3.3.2
# click==8.1.7
# cmake==3.30.0
# colour==0.1.5
# contourpy==1.2.1
# cycler==0.12.1
# distlib==0.3.8
# dlib==19.24.99
# dnspython==2.6.1
# easydict==1.13
# email_validator==2.2.0
# exceptiongroup==1.2.1
# face-recognition==1.3.0
# face_recognition_models==0.3.0
# fastapi==0.111.0
# fastapi-cli==0.0.4
# filelock==3.15.4
# flatbuffers==24.3.25
# fonttools==4.53.1
# fsspec==2024.6.1
# gast==0.6.0
# google-pasta==0.2.0
# grpcio==1.64.1
# h11==0.14.0
# h5py==3.11.0
# httpcore==1.0.5
# httptools==0.6.1
# httpx==0.27.0
# idna==3.7
# importlib_metadata==8.0.0
# importlib_resources==6.4.0
# Jinja2==3.1.4
# joblib==1.4.2
# keras==3.4.1
# kiwisolver==1.4.5
# libclang==18.1.1
# Markdown==3.6
# markdown-it-py==3.0.0
# MarkupSafe==2.1.5
# matplotlib==3.9.1
# mdurl==0.1.2
# ml-dtypes==0.3.2
# mpmath==1.3.0
# namex==0.0.8
# networkx==3.2.1
# numpy==1.26.4
# opencv-python==4.10.0.84
# opt-einsum==3.3.0
# optree==0.12.1
# orjson==3.10.6
# packaging==24.1
# pbr==6.0.0
# pillow==10.4.0
# platformdirs==4.2.2
# protobuf==4.25.3
# pydantic==2.8.2
# pydantic_core==2.20.1
# Pygments==2.18.0
# pyparsing==3.1.2
# python-dateutil==2.9.0.post0
# python-dotenv==1.0.1
# python-multipart==0.0.9
# PyYAML==6.0.1
# requests==2.32.3
# rich==13.7.1
# scikit-learn==1.5.1
# scipy==1.13.1
# shellingham==1.5.4
# six==1.16.0
# sniffio==1.3.1
# starlette==0.37.2
# stevedore==5.2.0
# sympy==1.12.1
# tensorboard==2.16.2
# tensorboard-data-server==0.7.2
# tensorboardX==2.6.2.2
# tensorflow==2.16.2
# tensorflow-io-gcs-filesystem==0.37.1
# termcolor==2.4.0
# threadpoolctl==3.5.0
# torch==2.3.1
# torchvision==0.18.1
# tqdm==4.66.4
# typer==0.12.3
# typing_extensions==4.12.2
# ujson==5.10.0
# urllib3==2.2.2
# uvicorn==0.30.1
# uvloop==0.19.0
# watchfiles==0.22.0
# websockets==12.0
# Werkzeug==3.0.3
# wrapt==1.16.0
# zipp==3.19.2